
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(inter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  font-size: 18px;
  background: #333;
  color: #777;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}


/******************************
 * Show/hide panels based on state.
 */
.show-splash .timer-display,
.show-splash .controls-display {
  display: none;
}

.show-timer .splash-display {
  display: none;
}


/******************************
 * Main timer display.
 */

.timer-display {
  height: 100%;
  margin: 5vw 5vw 0 5vw;
  background: #000;
  cursor: pointer;
  position: relative;
}

@media screen and (orientation: landscape) {
  .timer-display {
    margin: 5vh 5vh 0 5vh;
  }
}

.timer-display .card {
  background: #000;
  opacity: 1;
  transition: opacity 1s;
  width: 100%;
  height: 100%;
  padding-bottom: 55px;
  box-sizing: border-box;
}

.fullscreen .timer-display {
  cursor: none;
  margin: 0;
}

.fullscreen .timer-display .card {
  padding-bottom: 0;
}

.timer-display.black .card {
  opacity: 0.2;
}

.fullscreen .timer-display.black .card {
  opacity: 0;
}

.timer-display.running .card {
  transition: opacity 0.5s, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.timer-display .time {
  height: 100%;
  margin: 0 10vw;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 600;
}

.timer-display.countdown.warning .card {
  background: #ffc107;
}
.timer-display.countdown.timeout .card {
  background: #980b19;
}
.timer-display.countdown.warning .time {
  color: #000;
}

.fullscreen .timer-display.countdown.timeout .time span {
  border-top: 0.05em dotted transparent;
  border-bottom: 0.05em dotted #fff;
}

@media screen and (orientation: portrait) {
  .timer-display.countdown.timeout .time span {
    border-top: 0.05em dotted transparent;
    border-bottom: 0.05em dotted #fff;
  }
}

.timer-display .connecting {
  display: none;
  background: #17a2b8;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.timer-display .connecting.disconnected {
  display: initial;
}

.controls-display {
  display: flex;
  flex-direction: column;
  margin: 2vh 1vh;
}

.fullscreen .controls-display {
  display: none;
}




/******************************
 * Control buttons.
 */

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.controls button {
  display: inline-block;
  padding: 0;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  white-space: nowrap;
  background: #777;
  color: #000;
}

.controls button.disabled {
  display: none;
}

.controls button.on {
  background: #ddd;
}

.button-list {
  position: relative;
  display: block;
  height: 40px;
  padding: 5px;
  background: #333;
  font-size: 1px;
  white-space: nowrap;
}

.button-list button {
  display: inline-block;
  width: 130px;
  height: 40px;
}

.button-list button.current {
  border-radius: 10px 0 0 10px;
}

.button-list button.up {
  width: 39px;
  border-radius: 0 10px 10px 0;
  border-left: 1px solid #333;
}

.button-list button.up svg {
  height: 15px;
}

.button-list ul {
  position: absolute;
  bottom: 45px;
  left: 0;
  border-radius: 15px 15px 0 0;
  background: #333;
}

.button-list ul,
.button-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-list li {
  margin: 5px;
}

.button-list ul {
  display: none;
  padding-bottom: 5px;
}

.button-list li:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.button-list.expanded ul {
  display: block;
}

.controls.main button {
  margin: 0 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.controls.main button.icon {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.controls.main button.icon.button-start,
.controls.main button.icon.button-pause {
  width: 120px;
  height: 120px;
}

.controls.main button.icon svg {
  height: 45px;
  vertical-align: top;
}

.controls.main button.icon.button-start svg,
.controls.main button.icon.button-pause svg {
  height: 60px;
}

.controls.main button.icon.button-start svg {
  padding-left: 10px;
}

.controls.secondary button {
  background: #555;
}

.controls button:active,
.controls.secondary button:active {
  background: #aaa;
}
@media(hover: hover) {
  .controls button:hover,
  .controls.secondary button:hover {
    background: #aaa;
  }
}


@media screen and (min-width: 700px) {
  .controls.secondary .secondarySet {
    border-right: 1px solid #555;
    padding-right: 20px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 700px) {
  .button-list button {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .button-list button {
    width: 70px;
    font-size: 16px;
  }

  .button-list button.up {
    width: 34px;
  }

  .button-list button.up svg {
    width: 12px;
  }

  .controls.main button {
    margin: 0 5px;
  }
}




/******************************
 * QR code.
 */

.qr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr.visible {
  display: flex;
}

.qr svg {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  padding: 2vh 2vw 1vh 2vw;
  max-width: 80%;
  max-height: 60%;
  shape-rendering: crispEdges;
}

.qr p {
  margin: 1vh 1vw;
  font-size: 20px;
}



/******************************
 * Controls on timer screen.
 */

.timer-display .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #3335;
  cursor: default;
}

.timer-display .menu .left,
.timer-display .menu .right {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 110px;
}

.timer-display .menu .right {
  justify-content: flex-end
}

.timer-display .menu .status {
  height: fit-content;
  font-size: 20px;
  color: #fff3;
}

@media screen and (max-width: 500px) {
  .timer-display .menu .status {
    font-size: 16px;
  }

  .timer-display .menu .left,
  .timer-display .menu .right {
    width: auto;
  }
}

@media screen and (max-height: 580px) {
  .timer-display .menu {
    background: transparent;
  }

  .timer-display .menu .status {
    display: none;
  }

  .timer-display .card {
    padding-bottom: 0;
  }
}

.fullscreen .timer-display .menu,
.timer-display .qr.visible + .menu {
  display: none;
}

.timer-display .menu button {
  width: 26px;
  height: 26px;
  display: block;
  background: #3333;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-sizing: content-box;
  margin: 5px;
  cursor: pointer;
}

.timer-display .menu button:active {
  background: #3336;
}

@media(hover: hover) {
  .timer-display .menu button:hover {
    background: #3336;
  }
}

.timer-display .menu svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff2;
}

.timer-display.countdown.warning .menu button {
  fill: #0002;
}

.timer-display.countdown.warning .menu svg {
  fill: #0003;
}

.timer-display.countdown.warning .menu .status {
  color: #0004;
}



/******************************
 * Welcome splash screen.
 */

.splash-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.splash-display p {
  font-size: 30px;
  text-align: center;
  color: #aaa;
  padding: 0 10px;
}

.splash-display input {
  font-size: 30px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.splash-display input[type="text"] {
  background: #ccc;
}

@media screen and (max-width: 500px) {
  .splash-display p {
    font-size: 20px;
  }

  .splash-display p:last-child {
    display: flex;
    flex-direction: row;
  }

  .splash-display input {
    display: block;
    font-size: 20px;
  }

  .splash-display input[type="text"] {
    width: 100%;
    flex-shrink: 1;
  }
}
