
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(inter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  font-size: 40px;
  background: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.timer-display {
  height: 100%;
  margin: 5vw;
  background: #000;
  cursor: pointer;
  position: relative;
}

.timer-display .card {
  background: #000;
  opacity: 1;
  transition: opacity 1s;
  width: 100%;
  height: 100%;
}

.fullscreen .timer-display {
  cursor: none;
  margin: 0;
}

.timer-display.black .card {
  opacity: 0.2;
}

.fullscreen .timer-display.black .card {
  opacity: 0;
}

.timer-display.running .card {
  transition: opacity 0.5s, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.timer-display .time {
  height: 100%;
  margin: 0 10vw;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 600;
}

.timer-display.countdown.warning .card {
  background: #ffc107;
}
.timer-display.countdown.timeout .card {
  background: #980b19;
}
.timer-display.countdown.warning .time {
  color: #000;
}

.timer-display .connecting {
  display: none;
  background: #17a2b8;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.timer-display .connecting.disconnected {
  display: initial;
}

.controls-display {
  display: flex;
  flex-direction: column;
  margin: 2vh 1vh;
}

.fullscreen .controls-display {
  display: none;
}

.controls.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.controls.secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.controls.secondary > .controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 375px;
  align-content: flex-start;
  justify-content: flex-start;
}

.controls.secondary > .controls + .controls {
  justify-content: flex-end;
}

.button {
  display: block;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 5px;
  background: #777;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:active,
.secondary .button:hover {
  background: #aaa;
}
@media(hover: hover) {
  .button:hover,
  .secondary .button:hover {
    background: #aaa;
  }
}

.button.icon {
  min-width: 60px;
  height: fit-content;
}

.button.icon svg {
  padding: 5px;
  height: 45px;
  vertical-align: top;
}

.main .button {
  margin: 15px;
}
.secondary .button {
  font-size: 20px;
  max-height: fit-content;
  min-width: 70px;
  border-radius: 10px;
  background: #555;
}

.button-pause.icon svg,
.button-start.icon svg {
  height: 60px;
}

.button.disabled {
  display: none;
}

.button.on {
  background: #ddd;
}

.qr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr.visible {
  display: flex;
}

.qr svg {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  padding: 2vh 2vw 1vh 2vw;
  max-width: 80%;
  max-height: 60%;
  shape-rendering: crispEdges;
}

.qr p {
  margin: 1vh 1vw;
  font-size: 20px;
}

.timer-display .menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: portrait) {
  .timer-display .menu {
    flex-direction: row;
  }
}

.fullscreen .timer-display .menu {
  display: none;
}

.timer-display .menu a {
  width: 26px;
  height: 26px;
  display: block;
  background: #aaa3;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0 0 10px;
}

.timer-display .menu svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff2;
}

.timer-display.countdown.warning .menu a{
  fill: #0002;
}

.timer-display.countdown.warning .menu svg {
  fill: #0003;
}

.splash-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.splash-display p {
  font-size: 30px;
  text-align: center;
  color: #aaa;
  padding: 0 10px;
}

.splash-display input {
  font-size: 30px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  background: #ccc;
}

@media screen and (max-width: 500px) {
  .splash-display p {
    font-size: 20px;
  }

  .splash-display p:last-child {
    display: flex;
    flex-direction: row;
  }

  .splash-display input {
    display: block;
    font-size: 20px;
  }

  .splash-display input[type="text"] {
    width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 541px) and (max-width: 820px) {
  .secondaryAdd .button:nth-child(1),
  .secondaryAdd .button:nth-child(4) {
    display: none;
  }
  .controls.secondary > .controls + .controls {
    max-width: 250px;
  }
}

@media screen and (min-width: 541px) and (max-width: 660px) {
  .secondarySet .button:nth-child(3),
  .secondarySet .button:nth-child(5) {
    display: none;
  }
  .controls.secondary > .controls {
    max-width: 250px;
  }
}

@media screen and (max-width: 540px) {
  .secondaryAdd .button:nth-child(1),
  .secondaryAdd .button:nth-child(4),
  .secondarySet .button:nth-child(3),
  .secondarySet .button:nth-child(5) {
    display: none;
  }

  .secondary .button {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 435px) {
  .secondaryAdd .button:nth-child(1),
  .secondaryAdd .button:nth-child(4),
  .secondarySet .button:nth-child(3),
  .secondarySet .button:nth-child(5) {
    display: none;
  }

  .controls.secondary > .controls + .controls,
  .controls.secondary > .controls {
    justify-content: center;
  }

  .main .button {
    margin: 5px;
  }

  .secondary .button {
    padding: 10px 5px;
  }

  .button.icon {
    min-width: 40px;
  }

  .button.icon svg {
    padding: 5px;
    height: 35px;
  }

  .button-pause.icon,
  .button-start.icon {
    min-width: 50px;
  }

  .button-pause.icon svg,
  .button-start.icon svg {
    height: 50px;
  }
}

@media screen and (max-width: 390px) {
  .controls.secondary > .controls {
    max-width: 250px;
  }
}

@media screen and (max-width: 315px) {
  .main .button {
    margin: 5px;
  }

  .button.icon {
    min-width: 30px;
  }

  .button.icon svg {
    padding: 0px;
    height: 30px;
    vertical-align: initial;
  }
}

