name: lint
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  prettier:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: Install Node dependencies
        run: npm ci
      - name: Run prettier check
        run: npx prettier --check .

  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: Install Node dependencies
        run: npm ci
      - name: Build frontend files
        run: make fe
      - name: Run eslint
        run: npx eslint .

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: Install Node dependencies
        run: npm ci
      - name: Build frontend files
        run: make fe
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1
